gTTS
googletrans==3.1.0a0  # إصدار أكثر استقرارًا
wikipedia
pytz
httpx
beautifulsoup4
duckduckgo-search
Flask  # إذا لزم الأمر، أو أزل إذا لم تكن تستخدم واجهة ويب
google-generativeai
yt-dlp
aiohttp
SQLAlchemy
aiosqlite
telethon==1.34.0  # إصدار مستقر
