telethon==1.34.0
gTTS==2.5.1
googletrans==4.0.0-rc1
wikipedia==1.4.0
pytz
httpx==0.27.0
beautifulsoup4==4.12.3
duckduckgo-search
Flask
google-generativeai>=0.5.0
yt-dlp
aiohttp==3.9.5
SQLAlchemy>=2.0.0
aiosqlite==0.20.0
